{% extends 'base.html' %}
{% load static %}

{% block title %}Inicio - Dashboard{% endblock %}

{% block content %}

<div class="section-start">
  <h2>All Members</h2>  
  <div id="members_type_chart" class="circle-chart">
    {{members_type_chart|safe }}
  </div>  
</div>
<div class="card-members--container">
    {% for member in members %}
    <div class="card-members">
      <div class="card_image--container">
        <img src="{{ member.image_url }}" alt="{{member.name}} image" class="card-member_image">
      </div>
      <p class="card_member-id">{{member.member_id}}</p>
      <p class="card_member-name">{{member.name}}</p>
      <ul class="card_data">
        <li class="card_member-state">{{member.party_code.name}}</li>
        <li class="card_member-party">{{member.state_code.name}}</li>
      </ul>
    </div>
    {% endfor %}
</div>

{% endblock %}