<div class="sidebar">
    <ul>
        <li class="link-item"><a href="{% url 'dashboard' %}" class="link-url">
            <i class="bi bi-pie-chart-fill"></i>
            <span >Home</span>
        </a></li>
        <li class="link-item"><a href="{% url 'bill_list' %}" class="link-url">
            <i class="bi bi-bookmark-fill"></i>
            <span>Bills</span>
        </a></li>
        <li class="link-item"><a href="{% url 'member_list' %}" class="link-url">
            <i class="bi bi-person-fill"></i>
            <span>Members</span>
        </a></li>
    </ul>
</div>