@import 'variables.css';

:root {
    --margin-left: 250px;    
    --containers-bg-color: white;
    --containers-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    --body-bg-color: #F2F4F6;
    --main-color: #1f2937;
    --main-hover: #374151;
    --sidebar-tcolor: white;
    --titles: #262c34
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%; /* 1rem = 10px */
}

body {
    font-family: Arial, sans-serif;
    font-size: 1.6rem; 
}

h2 {
    color: var(--titles)
}

.sidebar {
    width: var(--margin-left); 
    background-color: var(--main-color);
    position: fixed; 
    top: 0;
    left: 0;
    height: 100%; 
    padding: 24px 16px;
}

.sidebar ul {
    display: flex;
    flex-direction: column; 
    list-style: none; 
    margin: 0; 
    padding: 0;
    gap: 4px;
}

.link-item {
    border-radius: 8px;
}

.link-item:hover {
    background-color: var(--main-hover);
    transition: background-color 0.3s ease-in-out;
}

.link-url {    
    display: inline-block;
    width: 100%;    
    padding: 8px 12px;
    text-decoration: none;
    color: var(--sidebar-tcolor);
    font-size: 1.8rem;
}

.link-url span {
    margin-left: 4px;
}

.link-url i {
    color: #a4abb8;
}

.content {
    margin-left: var(--margin-left); 
    padding: 16px;
    height: 100vh; 
    overflow-y: auto; 
    background-color: var(--body-bg-color);
}

.dashboard_general {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.dashboard_general--counts {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.dashboard_general--counts div {
    background-color: var(--main-color);
    box-shadow: var(--containers-shadow);
    display: flex;
    flex-direction: column;
    color: white;
    border-radius: 50%;
    height: 130px;
    width: 130px;
    padding: 16px;
    align-items: center;
    justify-content: center;
}

.dashboard_general--counts p {
    margin: 0;
    text-align: center;
}

.dashboard_general--counts p:first-child {
    font-size: 2.4rem;
    font-weight: bold;
}

.dashboard_general--counts p:last-child {
    font-size: 1.5rem;
}

.dashboard_general--chart h2 {
    font-style: italic;
    text-align: center;
    max-width: 750px;
}

.table-bills, .table-resume-bills {
    background-color: var(--containers-bg-color);
    border-radius: 8px;
    margin-top: 16px;
    box-shadow: var(--containers-shadow);
}

.table-bills h2, .table-resume-bills h2 {
    padding: 20px 24px;
    font-weight: bold;
}

.table th {
    background-color: #f2f4f6;
    padding: 12px 24px;
    text-align: left; 
}

.table td {
    padding: 12px 24px;
}

.circle-chart {
    width: 400px;
}

.table-bills {
    width: 100%; 
}

.table-bills th:nth-child(1), .table-bills td:nth-child(1) {
    width: 10%; 
}

.table-bills th:nth-child(2), .table-bills td:nth-child(2) {
    width: 10%;
}

.table-bills th:nth-child(3), .table-bills td:nth-child(3) {
    width: 40%;
}

.table-bills th:nth-child(4), .table-bills td:nth-child(4) {
    width: 20%;
}

.table-bills th:nth-child(5), .table-bills td:nth-child(5) {
    width: 20%; 
}

.section-start {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.section-start h2 {
    margin: 16px 0;
    font-size: 2.4rem;
    font-weight: bold;
}

.card-members--container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
}

.card-members {
    display: flex;
    flex-direction: column;
    width: 240px;
    background-color: var(--containers-bg-color);
    box-shadow: var(--containers-shadow);
    padding: 16px;
    border-radius: 8px;
    gap: 8px;
    overflow: hidden;
}

.card_image--container {
    height: 250px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

.card-member_image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card_member-id {
    font-size: 1.5rem;
    color: var(--main-color);
    font-style: italic;
    margin-bottom: 0;
}

.card_member-name {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 0;
}
